/* Body styles */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, pink,wheat);
}
/* Container styles */
.container{
    max-width: 900px;
    margin: 30px auto;    
}
.box{
    max-width: 600px;
    padding: 20px;
    margin: 0px auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px black;
    border-radius: 40px;
    background-color: white;    
}
/* Form styles */
.form-container{   
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,3fr));
    gap: 30px;
    margin-top: 30px;
    
}
.form-control{
    display: flex;
    flex-direction: column;   
}
/* Heading style */
h1{
    margin: auto;
    text-align: center;
}
label{
    font-size: 16px;
    /* margin-bottom: 2px; */
    margin-left: 2px;
}
select{
    padding: 4px 8px; 
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    font-size: 13px;
    background: white;
    color: #5b5252;
    font-family: sans-serif;
    margin-top: 4px;
}
select#mob{
    padding: 5px 1px; 
    border: 1px solid #a0a0a0;
    margin-right: 3px;
    border-radius: 4px;
    font-size: 13px;
    width: 51px ;
    margin-top: 4px;
}

select,input:focus{
    outline-color: royalblue;
    
}
/* Button styles */
.button-container{
    display: flex;
    justify-content: center;
    margin: 15px;
} 
button{
    background-color: royalblue;
    border: transparent solid 2px;
    color: white;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    justify-content: center;
    font-family: sans-serif;
}
/* Heading icon styles */
.font-home{
    justify-content: left;
    margin: 15px;
    font-size: 30px;
    color: black;
} 
.fa-solid, .fas {
    font-weight: 900;
    color: black;
}
/* Phonenumber Input styles */
#mob{
    padding: 6px 0px;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    font-size: 13px;
    background: white;
    font-family: sans-serif;
}
input#mob.inputs{
    padding: 5px 8px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-right: 12px;   
}

/* gender radiooption style*/
.radiotab{
   
    margin-top: 7px;
    font-size: medium;
    margin-left: 15px;
    display: inline-flex;
    /* width: 100%; */
}
.gender {
    /* margin-left: -32px; */
    justify-content: left;
}   
.input{
    padding: 5px 8px;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    font-size: 13px;
    background: white;
    font-family: sans-serif;
    color:#5b5252;
    margin-top: 4px;
}
/* error message styling*/
p{
    color: #ff3860;
    font-size: 12px;
    height: 13px;
    margin-left: 6px;
    
}   
.alert {
    padding: 15px;
    background-color:#ffe4e1; 
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    margin-top: 9px;   
}
/* The close button */
.closebtn {
    margin-left: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
.required::after{
    content: " *";
    color: red;
    font-size: 15px;
}
.selectopt option:first-child{
    display: none;
}
/* Make it responsive using mediaquery */
@media (max-width : 414px) {
    
    input#mob.inputs{
        padding: 12px 7px;
        padding-top: 7px;
        padding-bottom: 5px;
        padding-right: 83px;
        margin-top: 3px;
        
    }
    .box{
        height: 1540px;
    }
    button{
        width: 333px;
        
    }
    button.homebutton{
        width: 376px;
        margin-top: 0px;
    }
}