<!DOCTYPE html>
<!-- This tag tells Django to load the static template tag library. -->
{% load static %}
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Listing page</title>
    <!-- This tag links to the CSS stylesheet for the listing page. -->
    <link rel = "stylesheet" href = "{% static "css/list.css" %}">
    <link rel="stylesheet" href="{% static "css/nav.css" %}">
    <!-- This tag links to the font icon for the listing page. -->
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity = "sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<!-- navigation bar starting -->
<header>
    <div class="nav-bar">
        <div class="menu">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="search-bar">
          <input type="text" placeholder="Search...">
          <button type="submit">Search</button>
        </div>
    </div>
</header>
<!-- navigation bar ending -->
<body>

<div class = "container">
<!-- display success message after form submission -->
    {% if messages %}
        {% for m in messages%}
            <div class = "alert">
                <span class = "closebtn" onclick = "this.parentElement.style.display = 'none';">&times;</span>
                <p > {{ m }} </p>
            </div>    
        {% endfor%}          
    {% endif%}
<!-- end of message -->
        
<div class = "container">

        <div class = "box">
           <h1 class ="heading">Applicant's Listing Page</h1>
        </div>
        <!-- This tag creates a add button for create new application. -->
        <div class = "button-container">
            <a href = "{% url 'create' %}" >
                <button class = "addbutton" type = "submit" value = "submit"><strong>Add new applicant</strong></button>
            </a>
        </div>
        <br>
        <!-- table for listing all applicants data -->
        <table class = "table-container">
            <!-- these are the table headings -->
            <tr>
                <th class = "th-align">S No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Job Role</th>
                <th class = "th-align" >Update</th>
                <th class = "th-align" >Remove</th>
            </tr>
            <!-- end of table headings -->

            <!-- add details of each applicant's using forloop-->
            {% for d in applicants %}
                <tr>
                    <td style = "text-align:center"> {{forloop.counter}} </td>
                    <td> {{d.first_name }} {{d.last_name}} </td>
                    <td> {{d.email }} </td>
                    <td> {{d.phone_no }} </td>
                    <td> {{d.job_role}} </td>
                    <td class = "opt"><a href = "{% url 'update' d.id %} " ><i class = "fa-solid fa-pen-to-square"></i></td>
                    <td class = "opt"><a href = "{% url 'delete' d.id %}" ><i class = "fa-solid fa-trash"></i></td> 
                </tr>
            {% endfor %}
            <!-- end of for loop -->
        </table>
        <!-- end of listing table -->
</div>
</body>
</html>